<header>
    <div class="nav-container">
      <a href="/"><h1>book<br>ish</h1></a>
      <nav>
          <a href="/poc">POC authors</a>
          <a href="/lgbtq">LGBTQ+ authors</a>
          <a href="/trending-books">trending books</a>
      </nav>
    </div>     
 
</header>