<head>
    <meta charset="utf-8">
    <title>bookish</title>
    <meta name="description" content="a website that makes it easy to find and share book written by minority authors">
    <meta name="author" content="caia sullivan">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <link rel="stylesheet" href="../assets/styles.css">
</head>