@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inria+Serif&display=swap');

body {
  font-family: 'Inria Serif', serif;
  background-color: hsl(264, 57%, 82%);
  flex-shrink: 0;
}


nav {
  position: absolute;
  right: 0;
  top:0;
  display: flex;
  flex-direction: column;
}
nav a {
  color: #604B80;
  text-align: right;
  text-decoration: none;
  font-size: 23px;
  margin-bottom: 11px;
}

.nav-container{
position: relative;
}

.nav-container a {
  text-decoration: none;
}


.home main img {
  width: 15%;
}

header h1 {
  /* book*/
color: white;
 font-size: 60px;
 font-family: 'Indie Flower';
 font-weight: 400;
 word-wrap: break-word;
 line-height: 0.9;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 
h2 {
  color: #FFC700;
  font-family: Indie Flower;
  font-size: 48px;
  text-align: center;
  line-height: .8;
 
 }

 .home h2 {
  color: white;
  background: transparent;
 }

 h3 {
  /*find yourself in a book <3*/
  color: white;
  font-size: 80px;
  font-weight: 200;
  font-style: italic;
  font-family: 'Times New Roman' serif;
  text-align: center;
 }

 p {
  color: #604B80;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 150;
  flex-shrink: 0;
  text-align: center;
  margin: 3px;
 }

 h4 {
  /*books of the week*/
  color: #FFF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  width: 150px;
  height: 20px;
  flex-shrink: 0;
  position: absolute;
  margin: 10px;
  text-align: center;
 }


.image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 250px;
  justify-content: center;
  margin-top: 60px;
}


.image-wrapper{
  flex-shrink: 1;
  position: relative;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
}

.image-wrapper p {
  font-family: 'Indie Flower';
  font-size: 24px;
  font-weight: 600;
  font-style: oblique;
  color: #604B80;
  max-width: 270px;
  margin-top: 210px;
}
.image-wrapper blockquote{
margin: 0;
}

.spacing p {
  margin-top: 240px;
}

.image-wrapper blockquote p {
  font-size: 18px;
  color: #000;
  font-family: 'Inria Serif', serif;
}
blockquote {
color: #000;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.cover-wrapper {
  position: relative;
}

.bookcover{
  width: 100%;
  max-width: 300px;
  height: auto;
  position: absolute;
}
.starcircle{
  width: 150%;
  height: auto;
  position: absolute;
  z-index: -10;
}

.header-wrapper {
    background: url(star-5.png);
    height: 403px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rectangle {
  width: 389px;
  height: 361px;
  flex-shrink: 0;
  background-color: #FFF;
  margin-top: 1029;
  margin-bottom: -17;
  margin-left: 17;
  margin-right: 8;
}

/* trending books */

#ff-compose .ff-form {
  background-color: transparent !important;

}

#ff-compose .ff-form p, #ff-compose .ff-form div {
  font-family: 'Inria Serif', serif !important;
}

#ff-compose a.ff-powered-img {
  visibility: hidden !important;
}

#ff-compose .ff-title, #ff-compose .ff-section-header {
  font-family: 'Indie Flower' !important;
}

#ff-compose .ff-submit {
  background-color: #604B80 !important;
}
@media (min-width:881px) {  
  .image-wrapper:last-child {
  padding-top: 150px;
}
}