<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'LGBTQ+ authors' %}\

<body class="lgbtq">
    {% include 'header' %}
    <main>
     <div class="header-wrapper">
        <h2>lgbtq</h2>
</div>
        <div class="image-container">
          <div class="image-wrapper">
              <img  class="bookcover" alt="heartstopper book cover" src="/assets/heartstopper.jpeg" style=" width: 100%" />
              <p> reviews for heartstopper </p>
         
          </div> 
          <div class="image-wrapper">
              <img class="bookcover" alt="in the dream house book cover" src="https://m.media-amazon.com/images/I/91zeicdP-gL._AC_UF1000,1000_QL80_.jpg" />
              <p> reviews for in the dream house</p>
        
          </div>
        </div>
    </main>
    {% include 'footer' %}
</body>
</html>
