<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'POC authors' %}
<body class="poc">
    {% include 'header' %}
    <main>
    <div class="header-wrapper">
        <h2>POC</h2>
    </div>
        <div class="image-container">
          <div class="image-wrapper">
              <img  class="bookcover" alt="firekeeper's daughter cover" src="https://www.amazon.com/Firekeepers-Daughter-Angeline-Boulley/dp/1250766567" style="width: 146px;
              height: 209px; flex-shrink: 0;"/>
              <p> reviews for firekeeper's daughter</p>
         
          </div> 
          <div class="image-wrapper">
              <img class="bookcover" alt="concrete rose" src="https://www.amazon.com/Concrete-Rose-Angie-Thomas/dp/006284671X" style= "width: 120px;
              height: 180px;"/>

              <p> reviews for concrete rose </p>
        
          </div>
        </div>
    </main>
    {% include 'footer' %}
</body>
</html>
