<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'trending books' %}

<body class="trending books">
    {% include 'header' %}
    <main>

        <div class="header-wrapper">
        <h2>books of<br> the week</h2>
    </div>
        <div class="image-container">
          <div class="image-wrapper">
              <img  class="bookcover" alt="the namesake book cover" src="https://www.amazon.com/Namesake-Novel-Jhumpa-Lahiri/dp/0358062683" style="width: 115px;
              height: 173px;" />
              <p> reviews for the namesake</p>
         
          </div> 
          <div class="image-wrapper">
              <img class="bookcover" alt="educated book cover" src="https://www.amazon.com/Educated-Memoir-Tara-Westover/dp/0399590501" style= "width: 130px;
              height: 197px; flex-shrink: 0;"/>

              <p> reviews for educated</p>
        
          </div>
        </div>
    </main>
    {% include 'footer' %}
</body>
</html>
