<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'trending books' %}

<body class="trending books">
    {% include 'header' %}
    <main>

        <div class="header-wrapper">
        <h2>books of<br> the week</h2>
    </div>
        <div class="image-container">
          <div class="image-wrapper">
              <img  class="bookcover" alt="the namesake book cover" src="/assets/namesake.jpg" style="width: 100%;" />
              <p> reviews for the namesake</p>
              <blockquote> 
                <p> "holy cow. that's it. that's the review"</p>
                <p> "haven't even finished the book but i needed to needed to give it 5 stars"</p>
              </blockquote>
         
          </div> 
          <div class="image-wrapper">
              <img class="bookcover" alt="educated book cover" src="/assets/educated.jpg" style= "width: 100%; flex-shrink: 0;"/>

              <p> reviews for educated</p>
                  <blockquote> 
                    <p>"i'm not a huge biography fan but WOW was this one worth it"</p>
                    <p> "i just need everyone to run and get a copy of this book right now. @Tara Westover"</p>
                  </blockquote>
        
          </div>
        </div>
        <div id="ff-compose"></div>
        <script async defer src="https://formfacade.com/include/110975516138019795561/form/1FAIpQLSecDbjX8JQKV_TTJ3n8kHXgk9bnJ6YGKr4tPb7hhgS0wDUMqQ/classic.js?div=ff-compose"></script>


    </main>
    {% include 'footer' %}
</body>
</html>
